<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>
<body>
    <div class="container" id="app">
        <!-- <h1>{{ message }}</h1>
        <img v-bind:src="img" alt=""> -->
        <input v-model="message_2">
        <img v-bind:src="img_2" alt="">
        <div>Quante ne vorresti acquistare?</div>
        <span>{{message_2}} nel carrello - {{number}}</span>
        <div class="red" v-if="number === 0">OUT OF STOCK</div>
        <div>
            <button @click="number += 1">Add to Cart</button>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>